<launch>

  <param name="use_sim_time" value="false" />
  
  <!-- EDIT THIS LINE TO REFLECT THE NAME OF YOUR OWN MAP FILE 
       Can also be overridden on the command line -->
  <arg name="map" default="mymap_0824.yaml" />

  <!-- Run the map server with the desired map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find yjh_bot)/maps/$(arg map)" />

  <!-- Start the move_base node with the nav_test parameters -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find yjh_bot)/config/doudou/move_base_params.yaml" command="load" />
    <rosparam file="$(find yjh_bot)/config/doudou/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find yjh_bot)/config/doudou/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find yjh_bot)/config/doudou/local_costmap_params.yaml" command="load" />
  </node>


  <!-- Fire up AMCL -->
  <!-- <include file="$(find yjh_bot)/launch/tf/amcl.launch" /> -->
  

</launch>
