<launch>

  <!-- EDIT THIS LINE TO REFLECT THE NAME OF YOUR OWN MAP FILE 
       Can also be overridden on the command line -->

  <!-- Start the move_base node with the nav_test parameters -->
  <node pkg="record_data" type="pub_pos_from_txt_node" name="pub_pos_from_txt_node" respawn="false" output="screen" clear_params="true">
     <remap from="nav_info" to="pose" />
     <param name="file_2_read" value="/home/syy001/liyongbing_ws/src/test_data/my_nodes.txt" />
  </node>
  

</launch>
